@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Hanken Grotesk' !important;
}
.resultado{
    background: rgb(120,87,240);
    box-shadow: -10px 15px 30px #cacaca;
    background: linear-gradient(180deg, rgba(120,87,240,1) 0%, rgba(46,43,233,1) 100%);
    border-radius: 30px;
    width: 60%;
    height: 500px;
    margin-left: 260px;
    position: relative;
}
.sumario{
    background-color: #fff;
    box-shadow: 10px 15px 30px #cacaca;
    border-radius: 30px;
    width: 60%;
    height: 500px;
    margin-left: -70px;
}