@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Hanken Grotesk' !important;
}
.resultado{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    box-shadow: -10px 15px 30px #cacaca;
    background: rgb(120,87,240);
    background: linear-gradient(180deg, rgba(120,87,240,1) 0%,rgba(120,87,240,1) 50%, rgba(46,43,233,1) 100%);
    border-radius: 30px;
    width: 60%;
    height: 500px;
    margin-left: 260px;
}
.sumario{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 10px 15px 30px #cacaca;
    border-radius: 30px;
    width: 60%;
    height: 500px;
    margin-left: -70px;
}
.circulo{
    display: flex;
    background: rgba(46,43,233,1);
    background: linear-gradient(180deg, rgba(46,43,233,1) 0%, rgba(46,43,233,1) 10%, rgba(120,87,240,1) 100%);
    border-radius: 50%;
    width: 50%;
    height: 40%;
    
}
.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.info-sumario{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.primeiro{
    background-color: rgba(255, 87, 87, .05);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.segundo{
    background-color: rgba(255, 176, 31, .05);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.terceiro{
    background-color: rgba(0, 189, 145, .05);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.quarto{
    background-color: rgba(17, 37, 212, .05);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.primeiro-texto{
    color: rgba(255, 87, 87, 1);
}
.segundo-texto{
    color: rgba(255, 176, 31, 1);
}
.terceiro-texto{
    color: rgba(0, 189, 145, 1);
}
.quarto-texto{
    color: rgba(17, 37, 212, 1);
}
.botao{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.botao a{
    background: rgb(120,87,240);
    background: linear-gradient(180deg, rgba(120,87,240,1) 0%,rgba(120,87,240,1) 10%, rgba(46,43,233,1) 100%);
}
.botao a:hover{
    background: rgb(120,87,240);
    background: linear-gradient(180deg, rgba(120,87,240,1) 0%,rgba(120,87,240,1) 10%, rgba(46,43,233,1) 100%);
}

@media only screen and (max-width: 600px){
    .resultado{
        margin: 0 auto;
        margin-top: -50px;
        height: 150%;
        margin-left: -12px;
        margin-right: -12px;
        width: 100%;
    }
    .sumario{
        margin: 0 auto;
    }
}